<!DOCTYPE html>
<html ng-app="ngApp">
<head lang="en">
    <meta charset="utf-8">
    <title>maxisam's ngApp</title>
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.0/css/bootstrap-combined.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <script>
        document.write('<base href="' + document.location + '" />');
    </script>
</head>

<body ng-controller="MainCtrl" class="container">
<div class="row">
    <input class="span4 pull-right" type="text" placeholder="Search for smartphone in model and brand" ng-model="query">
</div>
<div class="row">
    <table id="results" class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th>Brand</th>
            <th>Model</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="smartphone in smartphones | filter: search ">
            <td id="brand">{{smartphone.brand}}</td>
            <td id="model">{{smartphone.model}}</td>
            <td id="price">{{smartphone.price | currency}}</td>
        </tr>
        </tbody>
    </table>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
<script src="app.js"></script>
</body>
</html>